name: Security Scan

on:
  push:
    branches: [ "master" ]
  pull_request:

jobs:
  trivy-sbom:
    name: Trivy SBOM + Vulnerability Scan
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Trivy
      run: |
        sudo apt-get update
        sudo apt-get install -y wget gnupg
        wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo gpg --dearmor -o /usr/share/keyrings/trivy.gpg
        echo "deb [signed-by=/usr/share/keyrings/trivy.gpg] https://aquasecurity.github.io/trivy-repo/deb noble main" | \
          sudo tee /etc/apt/sources.list.d/trivy.list
        sudo apt-get update
        sudo apt-get install -y trivy

    - name: Generate SBOM
      run: trivy sbom --format cyclonedx-json --output sbom.json .

    - name: Upload SBOM Artifact
      uses: actions/upload-artifact@v4
      with:
        name: sbom
        path: sbom.json

    - name: Trivy Vulnerability Scan
      run: trivy fs --exit-code 1 --severity CRITICAL --ignore-unfixed .

    - name: Trivy Code Scanning Report
      run: trivy fs --format sarif --output trivy-report.sarif .

    - name: Upload SARIF Report
      uses: github/codeql-action/upload-sarif@v3
      with:
        sarif_file: trivy-report.sarif
