name: Security Scan

on:
  push:
    branches: [ "master" ]
  pull_request:

jobs:
  trivy-sbom:
    name: Trivy SBOM + Vulnerability Scan
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4


    - name: Install Trivy
      run: |
        sudo apt-get update
        sudo apt-get install -y wget apt-transport-https gnupg lsb-release
        wget https://github.com/aquasecurity/trivy/releases/latest/download/trivy_0.55.2_Linux-64bit.deb
        sudo dpkg -i trivy_0.55.2_Linux-64bit.deb

    - name: Generate SBOM
      run: |
        trivy sbom --format cyclonedx-json --output sbom.json .

    - name: Upload SBOM artifact
      uses: actions/upload-artifact@v4
      with:
        name: sbom
        path: sbom.json

    - name: Trivy Vulnerability Scan (Critical Only)
      run: |
        trivy fs --exit-code 1 --severity CRITICAL .
