name: Flutter Security Scan

on:
  push:
    branches: [ "master" ]
  pull_request:

jobs:
  flutter-security:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4


    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.38.4'

    - name: Flutter Pub Get
      working-directory: ./password_hygiene_coach
      run: flutter pub get

    - name: Install CycloneDX BOM for Dart
      run: |
        dart pub global activate cyclonedx_bom
        echo "$HOME/.pub-cache/bin" >> $GITHUB_PATH


    - name: Generate SBOM
      working-directory: ./password_hygiene_coach
      run: dart pub global run cyclonedx_bom:main --output sbom.xml

    - name: Upload SBOM Artifact
      uses: actions/upload-artifact@v4
      with:
        name: sbom
        path: ./password_hygiene_coach/sbom.xml


    - name: Install Trivy
      run: |
        sudo apt-get update
        sudo apt-get install -y wget gnupg
        wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo gpg --dearmor -o /usr/share/keyrings/trivy.gpg
        echo "deb [signed-by=/usr/share/keyrings/trivy.gpg] https://aquasecurity.github.io/trivy-repo/deb noble main" | \
          sudo tee /etc/apt/sources.list.d/trivy.list
        sudo apt-get update
        sudo apt-get install -y trivy


    - name: Trivy Vulnerability Scan
      working-directory: ./password_hygiene_coach
      run: trivy fs --exit-code 1 --severity CR
